@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(30, 6, 102);
    color: white;
}
/* Header Here  */
nav{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 4, 73);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 2rem;
}
nav ul li a:hover{
    color: blueviolet;
}
a{
    text-decoration: none;
    color: white;
}
/* main here  */
main hr{
    border: 0;
    background: rgb(106, 15, 218);
    height: 1px;
    margin: 40px 84px;
}
/* first Section here  */
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 27vh 0;
}
.firstSection > div{
    width:30%;
}
.leftSection{
    font-size: 3rem;
    margin: 30px 0;
}
.purple{
    color: blueviolet;
}
.textgray{
    color: gray;
}
/* Second section here  */
.secondSection{
    height: 50vh;
    max-width: 40vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondSection h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
.para{
    margin-top: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.12rem;
}
.thirdSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{

    border: 2px solid red;
    width: 42vw;
    height: 42vh;
    margin: 10px 20px;
    padding: 8px 8px;
    line-height: 1.1rem;
}
.icon{
    display: flex;
    justify-content: center;
}
.card h2{
    text-align: center;
    line-height: 4rem;
}
.card p{
    text-align: justify;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 15px;
}